---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/layout/sections/HeroSection";
import ExperienceLister from "@/components/listers/ExperienceLister";
import { getImage } from "astro:assets";
import bannerImageSrc from "@/images/banner-programming.webp";
const bannerOptimized = await getImage({ src: bannerImageSrc, width: 400, height: 400, format: "webp" });
const bannerImg = { src: bannerOptimized.src, width: 400, height: 400 };
---

<Layout
  title="Experience | Jereko"
  description="View Jesse Koldewijn's professional and educational experience over the years, including roles, skills, and growth in software engineering."
>
  <div transition:name="hero" transition:animate="fade">
    <HeroSection
      client:load
      bannerImage={{ dark: bannerImg, light: bannerImg }}
      bannerContent={{
        title: "Experience",
        description: "A list of what I've done over the years.",
      }}
    />
  </div>
  <div
    transition:name="page-content"
    transition:animate="fade"
    class="mx-auto mt-8 w-auto max-w-md px-4 md:w-full md:px-0"
  >
    <section>
      <ExperienceLister client:visible />
    </section>
  </div>
</Layout>
