---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/layout/sections/HeroSection";
import ProjectsLister from "@/components/listers/ProjectsLister";
import { getImage } from "astro:assets";
import bannerImageSrc from "@/images/banner-programming.webp";
const bannerOptimized = await getImage({
  src: bannerImageSrc,
  width: 400,
  height: 400,
  format: "webp",
});
const bannerImg = { src: bannerOptimized.src, width: 400, height: 400 };
---

<Layout
  title="Projects | Jereko"
  description="Browse projects Jesse Koldewijn has built across web and software engineering, highlighting tools, technologies, and practical experience."
>
  <div transition:name="hero" transition:animate="fade">
    <HeroSection
      client:load
      bannerImage={{ dark: bannerImg, light: bannerImg }}
      bannerContent={{
        title: "Projects",
        description: "A list of projects I've worked on.",
      }}
    />
  </div>
  <div
    transition:name="page-content"
    transition:animate="fade"
    class="mx-auto mt-8 w-auto max-w-md px-4 md:w-full md:px-0"
  >
    <section>
      <ProjectsLister client:visible />
    </section>
  </div>
</Layout>
