---
import Layout from "@/layouts/Layout.astro";
import AboutMeHeader from "@/components/page-elements/about-me/AboutMeHeaderAstro";
import AnimatedGradientText from "@/components/animated/animated-grad-text";
import GoToHeading from "@/components/page-elements/about-me/go-to-heading";
import { getImage } from "astro:assets";
import avatarSrc from "@/images/avatar.webp";
const avatarOptimized = await getImage({
  src: avatarSrc,
  width: 400,
  height: 400,
  format: "webp",
});
const bannerImg = { src: avatarOptimized.src, width: 400, height: 400 };
---

<Layout
  title="About me | Jereko"
  description="Learn more about Jesse Koldewijn, his background in tech, and the interests that shaped his path in software engineering."
>
  <div transition:name="hero" transition:animate="fade">
    <AboutMeHeader
      client:load
      pathname="/about-me"
      bannerImage={{ dark: bannerImg, light: bannerImg }}
      title="About Me"
      description="Who am I? And what do I do?"
    />
  </div>
  <div
    transition:name="about-body"
    transition:animate="fade"
    class="mx-4 flex flex-col items-center justify-center gap-8 lg:mx-2 lg:flex-row"
  >
    <section
      id="about-me-overview"
      class="flex w-auto max-w-md flex-col gap-4 text-center"
    >
      <h2 class="text-center text-2xl font-bold">So... who am I?</h2>
      <div class="flex flex-col gap-4">
        <p>
          To start off, my background and interests has been mainly in/towards
          <AnimatedGradientText
            client:visible
            className="ml-1 font-semibold"
            variant="span"
            text="IT"
            noSplit
          />
          ,
          <AnimatedGradientText
            client:visible
            className="mx-1 font-semibold"
            variant="span"
            text="Tech (in general)"
            noSplit
          />
          and
          <AnimatedGradientText
            client:visible
            className="mx-1 font-semibold"
            variant="span"
            text="Gaming"
            noSplit
          />
          for as long as I can remember. Which since you're checking out my website,
          might not surprise you.
        </p>
        <p>
          One of the earliest tech-related memories I can remember is that when
          I was around the age of
          <AnimatedGradientText
            client:visible
            className="ml-1 font-semibold"
            variant="span"
            text="12"
            noSplit
          />
          , I completely disassembled the
          <AnimatedGradientText
            client:visible
            className="mx-1 font-semibold"
            variant="span"
            text="PC"
            noSplit
          />
          I got as a hand-me-down from my dad. I did it just to see how it was assembled
          and put together, out of interest in what all the parts looked like.
        </p>
      </div>
    </section>
    <section
      id="about-me-overview"
      class="flex w-auto max-w-md flex-col gap-4 text-center xs:mb-auto"
    >
      <h2 class="text-center text-2xl font-bold">
        Want to know more about me, who I am and what I do?
      </h2>
      <div class="flex flex-col gap-4">
        <p>
          Feel free to check out any of the sub-sections in the navigation
          <GoToHeading
            client:visible
            className="ml-1 cursor-pointer underline-offset-2 hover:underline"
          >
            above
            <span class="sr-only"
              >Click here to jump to the about-me navigation</span
            >
          </GoToHeading>
          !
        </p>
      </div>
    </section>
  </div>
</Layout>
